{{!< default}}

{{#post}}

<main class="site-main">
    <article class="{{post_class}} single">

          {{> "feature-image" }}
        <div class="post-content gh-content gh-canvas">
            {{content}}
        </div>

    </article>
</main>

{{/post}}
